.avatar {
  width: 30%;
  height: auto;
  min-height: 300px;
  min-width: 300px;
}

.row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 701px) {
  .avatar {
    width: 200px;
    height: 200px;
    margin-right: 0px;
    min-width: 200px;
  }
}
